@font-face {
    font-family: Arimo;
    src: url("../src/assets/fonts/Arimo-Regular.ttf");
}
@theme{
    --font-arimo: arimo, "sans-serif";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@import "tailwindcss";